
@attribute [AllowAnonymous]

<MudDialog Class="pa-4 justify-center my-4 mud-text-align-center">
    <DialogContent>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@Icons.Material.Outlined.BlurLinear" Color="Color.Primary" Size="Size.Small" Style="width: 250px; height: 250px;"/>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="18" xl="24" xxl="36" Class="d-flex justify-center mt-4">
            <MudText Align="Align.Center" Typo="Typo.h5">Forgot your password huh?</MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="18" xl="24" xxl="36" Class="d-flex justify-center mb-2">
            <MudText Align="Align.Center" Typo="Typo.h5">
                It's all good, it happens, we won't say anything <MudIcon Icon="@Icons.Material.Filled.TagFaces" Size="Size.Medium"/>
            </MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="18" xl="24" xxl="36" Class="d-flex justify-center">
            @if (PageIsLoading)
            {
                <MudProgressLinear Color="Color.Primary" Rounded="true" Indeterminate="true" Class="my-7"/>
            }
            else
            {
                <MudProgressLinear Color="Color.Primary" Rounded="true" Indeterminate="false" Value="0" Class="my-7"/>
            }
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="18" xl="24" xxl="36" Class="d-flex justify-center mb-4">
            <MudTextField @bind-Value="EmailAddress" Label="Email Address" Variant="Variant.Outlined"/>
        </MudItem>
        @if (ServerState.IsRunningInDebugMode)
        {
            <MudItem xs="12" sm="12" md="12" Class="d-flex justify-center">
                <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" FullWidth="true" StartIcon="@Icons.Material.Filled.LogoDev" 
                           OnClick="@DebugFillEmail">Fill Email for Wingman
                </MudButton>
            </MudItem>
        }
    </DialogContent>
    <DialogActions>
        <MudItem xs="12" sm="12" md="12" Class="d-flex justify-center">
            <MudButton Variant="Variant.Outlined" Color="Color.Warning" FullWidth="true" StartIcon="@Icons.Material.Filled.Cancel"
                       OnClick="Cancel">Cancel
            </MudButton>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" Class="d-flex justify-center">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true" StartIcon="@Icons.Material.Filled.BlurOn" 
                       OnClick="@SendPasswordReset">Send Reset
            </MudButton>
        </MudItem>
    </DialogActions>
</MudDialog>
