@using Application.Models.GameServer.Host
@using GameWeaver.Components.GameServer
@attribute [Route(AppRouteConstants.Index)]
@attribute [Authorize]

<MudContainer>
    <MudGrid Class="pa-4 justify-center mud-text-align-center">
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <MudIcon Icon="@Icons.Material.Outlined.LensBlur" Color="Color.Primary" Size="Size.Large" Style="width: 250px; height: 250px;"/>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">
                Hello @_loggedInUser.Username! Welcome to @ServerState.ApplicationName!
            </MudText>
        </MudItem>
        @if (_canViewApi)
        {
            <MudItem xs="12" sm="12" md="12">
                <MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Info">
                    You have access to view our API!
                    <MudLink Target="_blank" Href="@AppRouteConstants.Api.Root">
                        Check out the API documentation using Swagger/OpenApi!
                    </MudLink>
                </MudAlert>
            </MudItem>
        }
        @if (_canViewJobs)
        {
            <MudItem xs="12" sm="12" md="12">
                <MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Warning">
                    You have access to view background jobs, execute them and check their status on the
                    <MudLink Target="_blank" Href="@AppRouteConstants.Jobs.Root">Jobs Page</MudLink>
                </MudAlert>
            </MudItem>
        }
        <MudItem xs="12" sm="12" md="12">
            <MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Error">
                @ServerState.ApplicationName is a work in progress, more to come!
            </MudAlert>
        </MudItem>
        <MudExpansionPanel Class="mud-theme-appbar-background" Text="Documentation" MaxHeight="150">
            Documentation will be coming soon!
            <MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Primary" Link="/info/getting-started">
                I'll link to the documentation page!
            </MudButton>
        </MudExpansionPanel>
    </MudGrid>
    <MudGrid Class="d-flex justify-center py-4 pa-2 gap-3">
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/1091500/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/546560/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/292030/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/337000/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/812140/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/489830/library_600x900.jpg" />
    </MudGrid>
    <MudGrid Class="d-flex justify-center py-4 pa-2 gap-3">
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/1091500/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/546560/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/292030/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/337000/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/812140/library_600x900.jpg" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/489830/library_600x900.jpg" />
    </MudGrid>
    <MudGrid Class="d-flex justify-center py-4 pa-2 gap-3">
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/1091500/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/546560/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/292030/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/337000/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/812140/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="false" Url="https://steamcdn-a.akamaihd.net/steam/apps/489830/library_600x900.jpg" Test="true" />
    </MudGrid>
    <MudGrid Class="d-flex justify-center py-4 pa-2 gap-3">
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/1091500/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/546560/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/292030/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/337000/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/812140/library_600x900.jpg" Test="true" />
        <GameWidget Horizontal="true" New="true" Url="https://steamcdn-a.akamaihd.net/steam/apps/489830/library_600x900.jpg" Test="true" />
    </MudGrid>
</MudContainer>
